/* css reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */

body{
    background-color: white;
}

/* Utils */

.countainer{
    max-width: 1080px;
    margin:0 auto;
    display:flex;
}

.paragrafo{
    margin: 20px;
  }

  .spazio-titolo{
    margin-top: 30px;
  }


/* Header */

/*  Class nav-main countainer proprietes */

.nav-top{
    background-color: #255EE9;
    min-height: 25px;
}

/*nav-top countainer */
.nav-top-cont{
    
    align-items: center;
    min-height: 50px;
}

.nav-box-logo{
    flex-basis: 20%;
}

.lista{
    list-style: none;
    color: white;
    font-size: 17px;
    display: flex;
    padding: 10px;
    justify-content: space-between;
}



.button{
    background: #ffffff;
    border-radius: 20px;
    border-color: transparent;
    padding: 5px 10px;
    margin: 0px 10px;
}
.nav-box-button{
    flex-basis: 20%;
    display: flex;
    justify-content: flex-end;
}



.nav-box{
    flex-basis: 60%;
    min-height: 25px;
}




/* Class Footer countainer proprietes */

.nav-footer{
    background-image: url(../img/jumbo.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 450px;
}

/* nav footer countainer */
.nav-footer-cont{
    align-items: center;
    min-height: 300px;
    display: flex;
    justify-content: center;
}

.box-footer{
   color: white;
    min-height: 200px;
    width: 50%;
    text-align: center;
    font-size: 16px;
   
}

.button-black{
    background: #23272A;
    color: white;
    border-radius: 20px;
    border-color: transparent;
    padding: 5px 10px;
    margin: 0px 10px;
}


/* Main */

/*main countainer */
.main-count{
    align-items: center;
    min-height: 400px;
    margin-top: 30px;
}

.main-secondary{
    background-color: #D3D3D3;
    min-height: 400px;
}

.pargraph-proprietes{   
    font-size: 25px;
    text-align: center;
    width: 40%;
    color: black;
}

.bg-white{
    background-color: white;
}
.bg-gray{
    background-color: #D3D3D3;
}




/*main footer countainer*/


.main-footer-cont{
    align-items: center;
    min-height: 800px;
}



.main-footer{   
    background-color: #D3D3D3;
    min-height: 800px;
}

.main-footer-proprietes{
    font-size: 25px;
    text-align: center;
    width: 40%;
    color: black;
}

.sfondo-pulsante{
    display: flex;
    justify-content: center;
    background-image: url(../img/item4-big.svg);
}

.button-footer{
    background: #8EA1E1;
    border-radius: 20px;
    border-color: transparent;
    padding: 5px 10px;
}

/* Footer */ 





/* footer main */
.footer-main{
    background-color: #23272A;
    min-height: 400px;
    margin-bottom: 2px;
}


.fmcb{
        align-items: flex-start;
        min-height: 450px;
        background-color: #23272A;
}

.footer-box{
    min-height: 400px;
    flex-basis: 40%;
    background-color: #F08080;
    border: 2px dotted black;
    margin-top: 10px;
}

.footer-big-box{
    min-height: 400px;
    flex-basis: 60%;
    background-color:#20B2AA;
    border: 2px dotted #20B2AA;
    display:flex;
    margin-top: 10px;
}
    
.footer-small-box{
    min-height: 400px;
    flex-basis: 25%;
    border: 2px dotted white;
}



/* end footer */

.e-footer{
    background-color: #23272A;
    min-height: 25px;
}

.efc{
    
    align-items: flex-end;
    min-height: 50px;
}
.box-end-footer{
    min-height: 40px;
    width: 100%;
    background-color: #7FFFD4;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.box{
    flex-basis:60px;
    background-color: orange;
    min-height: 15px;
}